<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robillo.droughtprotect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DroughtProtectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.login_register.LoginRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.features_list.FeaturesListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.feature_description.FeatureDescriptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.realtime_forecsst.RealTimeForecastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.drought_predict.DroughtPredictActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.drought_prevent.DroughtPreventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.vegetation_quality.VegetationQualityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.water_level.WaterLevelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.public_api.PublicApiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.weather_news.WeatherNewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.flood_predict.FloodPredictActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.forest_fire_prone_areas.ForestFiresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>